<div class="d-flex flex-column flex-md-row vh-100 overflow-hidden">
    {{>sidebar}}

    <div class="d-flex flex-column col-9 col-md-8 overflow-auto m-5 align-items-center align-items-center">
        <h1>Dashboard</h1>

        <div class="col-md-12 d-flex flex-column flex-md-row justify-content-center align-items-center">
            <div class="col-12 col-md-3 bg-body-amarillo p-3 rounded">
                <h3 class="fw-bold text-center">Ingresos del Día</h3>
                <br>
                <p class="text-white fs-5 text-center"><strong>${{ingresoDia}}</strong></p>
            </div>

            <div class="col-12 col-md-3 bg-body-verde p-3 rounded my-4 my-md-0 mx-md-3">
                <h3 class="fw-bold text-center">Ingresos de la Semana</h3>
                <p class="text-white fs-5 text-center"><strong>${{ingresoSemana}}</strong></p>
            </div>

            <div class="col-12 col-md-3 bg-body-rojo p-3 rounded">
                <h3 class="fw-bold text-center">Ingresos del Año</h3>
                <br>
                <p class="text-white fs-5 text-center"><strong>${{ingresoAno}}</strong></p>
            </div>
        </div>

        <div class="col-12 p-3 bg-primary my-4 rounded">
            <h3 class="text-white text-center">Últimos Pedidos</h3>
            {{#each productos}}
            <p class="text-white text-center">{{this.quantity}} kg {{this.name}}</p>
            {{/each}}
        </div>
        

        
    </div>

    


</div>