{{>navbar}}

    <h1 class="text-center my-5">Historial de Compras</h1>

    <div class="container mt-5">
        <div class="row tm-content-row">
        <div class="col-12 tm-block-col">
            <div class="tm-bg-primary-dark tm-block tm-block-products">
            <div class="tm-product-table-container">
                <table class="table table-hover tm-table-small tm-product-table">
                <thead>
                    <tr>
                    <th scope="col">KG</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Monto</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orders}}
                    <tr>
                        <th scope="row">
                            <p>{{this.quantity}}</p>
                        </th>
                        <td class="tm-product-name">{{this.name}}</td>
                        <td><p>{{this.address}}</p></td>
                        <td>
                            <p>{{this.date}}</p>
                        </td>
                        <td>
                            <p><strong>${{this.price}}</strong></p>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
                </table>
            </div>
            </div>
        </div>
        </div>

        <h3 class="fw-bold my-5">Total Gastado: <strong>${{total}}</strong> </h3>
    </div>


{{>footer}}