<div class="d-flex flex-column flex-md-row vh-100 overflow-hidden">
    {{>sidebar}}

    <div class="d-flex flex-column overflow-auto col-9 m-5 align-items-center ">
        {{#if error}}

        <h3 class="bg-danger">Debes llenar todos los campos</h3>

        {{/if}}

        <h1>Añadir Producto</h1>

        
                <div class="tm-product-table-container mt-3">
                    <table class="table table-hover tm-table-small tm-product-table">
                    <thead>
                        <tr>
                        <th scope="col">Imagen</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">STOCK</th>
                        <th scope="col"></th>
                        <th scope="col">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each products}}
                        <tr>
                            <th scope="row">
                                <img src="/products/{{this.image}}" height="100" width="100" alt="{{this.image}}">
                            </th>
                            <td class="tm-product-name">{{this.name}}</td>
                            <td>{{this.stock}}</td>
                            <td>
                                <a href="/auth/editar/{{this.id}}" class="tm-product-delete-link btn btn-warning px-5">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                                    </svg>
                                </a>
                                <form method="POST" action="eliminar" style="all: unset;">
                                    <input style="display: none;" value="products" name="table" type="text">
                                    <input style="display: none;" value="{{this.id}}" name="id" type="text">
                                    <button type="submit" class="tm-product-delete-link btn btn-primary px-5">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                                            <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486z"/>
                                            </svg>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                    </table>
                </div>

                <a href="/auth/crear" class="btn btn-success btn-block text-uppercase mb-3">Añadir Producto</a>
       
    </div>

    


</div>

